<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419948888041-hce54bcc8qann2pon9dcd5cnv8q1gbei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419948888041-hce54bcc8qann2pon9dcd5cnv8q1gbei</string>
	<key>API_KEY</key>
	<string>AIzaSyB9ziE7V8xQh7qO_HPF7q-1r04IYSm1kxg</string>
	<key>GCM_SENDER_ID</key>
	<string>419948888041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jhy.dasiBom3</string>
	<key>PROJECT_ID</key>
	<string>test-dasibom3</string>
	<key>STORAGE_BUCKET</key>
	<string>test-dasibom3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419948888041:ios:fca1f05c9fc47c41bad578</string>
</dict>
</plist>