<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857081801775-abipgfg2av50soe7ln28gvotld02olfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857081801775-abipgfg2av50soe7ln28gvotld02olfj</string>
	<key>API_KEY</key>
	<string>AIzaSyB6g2-pPYg1mdtHivVbQGntvi7E9VWMezQ</string>
	<key>GCM_SENDER_ID</key>
	<string>857081801775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jhy.Firebase101</string>
	<key>PROJECT_ID</key>
	<string>fir-101-131d1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-101-131d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857081801775:ios:3300e74d3f0a5d269f6ada</string>
</dict>
</plist>